[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
nbconvert = "*"

[packages]
pandas = "*"
seaborn = "*"
ipykernel = "*"

[pipenv]
allow_prereleases = true
